{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="ui container">
    <div class="ui stackable two column grid">
        <!-- Sección de bienvenida -->
        <div class="column">
            <h1 class="ui huge header">Bienvenido a Terraria</h1>
            <div class="ui basic segment">
                <p>
                    Terraria es una plataforma dedicada a los amantes de las plantas, donde puedes registrar, monitorear
                    y aprender sobre el cuidado de tus plantas. Desde principiantes hasta expertos botánicos, todos
                    encontrarán algo de valor aquí.
                </p>
            </div>
        </div>
    </div>

    <!-- Sección de características -->


    <!-- Sección de testimonios u opinión de usuarios -->
    <div class="ui stackable two column grid">
        <div class="column">
            <h2 class="ui header">Lo que Nuestros Usuarios Dicen</h2>
            <div class="ui testimonial segment">
                <p>
                    "Gracias a Terraria, he podido transformar mi jardín en un oasis verde lleno de vida. ¡Las
                    herramientas de seguimiento y los consejos han sido invaluables!"
                </p>
                <p>- Alex, Aficionado al Jardín</p>
            </div>
            <div class="ui testimonial segment">
                <p>
                    "Como un entusiasta de las plantas urbanas, Terraria ha sido una herramienta clave para organizar y
                    cuidar mi colección de interiores. ¡La interfaz es intuitiva y muy útil!"
                </p>
                <p>- Sam, Entusiasta de Plantas Urbanas</p>
            </div>
            <div class="ui testimonial segment">
                <p>
                    "Terraria me ha ayudado a entender mejor las necesidades específicas de cada planta. Ahora mis
                    suculentas y orquídeas están floreciendo como nunca antes."
                </p>
                <p>- Mia, Amante de Suculentas y Orquídeas</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}