<!-- navbar.html -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">

        <div class="right menu">
            {% if user.is_authenticated %}
            <div class="item">
                <span>{{ user.name|default:user.username }}</span>
            </div>
            <div class="item">
                <a href="{% url 'logout' %}" class="ui button">Cerrar sesión</a>
            </div>
            <div class="item">
                <a href="{% url 'create_post' %}" class="ui primary button">Crear Post</a>
            </div>

            {% else %}
            <div class="item">
                <a href="{% url 'login' %}" class="ui button">Iniciar sesión</a>
            </div>
            <div class="item">
                <a href="{% url 'register' %}" class="ui primary button">Crear cuenta</a>
            </div>

            {% endif %}
        </div>
    </div>

</nav>